<!DOCTYPE html>
<block xmlns:th="http://www.w3.org/1999/xhtml">

    <!-- 본문 시작 -->
    <div>
        <table>
            <tr class="listTb">
                <th class="listTh">이름</th>
                <th class="listTh">생월</th>
                <th class="listTh">생일</th>
                <th class="listTh">Tmi</th>
            </tr>

            <tr th:each="list: ${search}" th:onclick="|javascript:goDetail('${list.id}')|"
                class="listTb">
                <td class="listTh">[[${list.nickName}]]</td>
                <td class="listTh">[[${list.month}]]</td>
                <td class="listTh">[[${list.day}]]</td>
                <td class="listTh">[[${list.tmiCnt}]]</td>
            </tr>
        </table>
    </div>

    <span class="goHome btn"><a th:href="@{/}">메인으로</a></span>


    <script th:inline="javascript">
        function goDetail(id) {
            /*[+
            let url = [[@{/member/detail/}]] + id;
            +]*/

            location.href = url;
        }

    </script>

</block>
