<!DOCTYPE html>
<block xmlns:th="http://www.w3.org/1999/xhtml" class="blockWrap">

    <!-- 본문 시작 -->
    <div>
    <h1>당신의 <br>
    <span class="title-word title-word-1">T</span><span class="title-word title-word-2">M</span><span class="title-word title-word-3">I</span></h1>

<!--
    <div>
        <span th:onclick="|javascript:goDetail('${member.id}')|">나의 TMI</span>
        <span th:onclick="|javascript:goMyPage('${member.id}')|">마이페이지</span>
    </div>
-->

    <!-- 검색하기 -->
    <div class="schBox">
        <form method="get" th:action="@{/pages/list}">
            <div class="left-box">
                <select class="dropdown inline" name="searchType">
                    <option th:each="searchType : ${T(your.tmi.dto.search.SearchType).values()}"
                            th:value="${searchType}" th:text="${searchType.searchName}"></option>
                </select>

                <div class="search-bar inline">
                    <input id="search-input" name="keyword" th:value="${keyword}">
                </div>
            </div>

            <div class="right-box">
                <span><button class="btn_search btn" type="submit">
                    검색하기
                </button></span>
            </div>
        </form>
    </div>
    <!-- end search Box -->

    <!-- 로그인 wrapper-->
    <div>
        <div>
            <span><a th:href="@{/login}">로그인</a></span>
        </div>

        <div>
            <span><a th:href="@{/join}">가입하기</a></span>
        </div>
        <div>
            <span><a th:href="@{/add}">가입하기2</a></span>
        </div>
    </div>
    <!-- end login Wrapper-->

    <!-- 그룹 만들기 -->
    <div>
        <span>그룹 만들기</span>
        <div>
            <span><input type="text" placeholder="그룹 이름을 입력 해 주세요"></span>
            <span><button>그룹만들기</button></span>
        </div>
    </div>
    <!-- end register groups-->

    </div>
    <!-- end contents-->

    <script th:inline="javascript">
        function goDetail(id) {
            /*[+
            let url = [[@{/detail/}]] + id;
            +]*/
            location.href = url;
        }

        function goMyPage(id) {
            /*[+
            let url = [[@{/myPage/}]] + id;
            +]*/
            location.href = url;
        }
    </script>


</block>
