<!DOCTYPE html>
<block xmlns:th="http://www.w3.org/1999/xhtml" class="blockWrap">

    <div>
        <div>
            <form action="">
                <div>
                    <span>닉네임</span><span><input type="text"></span><br>
                    <span>아이디</span><span><input type="text"></span><br>
                    <span>비밀번호</span><span><input type="text"></span><br>
                </div>

                <div>
                    <span>월</span><span><input type="text"></span>
                    <span>일</span><span><input type="text"></span>
                </div>

                <span><button>가입하기</button></span>
            </form>
        </div>
    </div>

</block>
